body {
    font-family: sans-serif;
    margin: 0; 
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 5px; 
}

#about {
    padding: 20px;
}

#resume-link {
    color: black;

    :visited {
        color: black;
    }
}

.profile-pic {
    width: 200px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#resume {
    padding: 20px;
}

.job {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.social-links li {
    display: inline;
    margin: 0 10px;

    a {
        color: white;
    }
    
    :visited {
        color: white;
    }
}
