body {
    font-family: sans-serif;
    margin: 0; 
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 5px; 
}

#about {
    padding: 20px;
}

.profile-pic {
    width: 200px;
    height: auto;
    border-radius: 50%;
    float: right;
    margin-left: 20px;
}

#resume {
    padding: 20px;
}

.job {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.social-links li {
    display: inline;
    margin: 0 10px;
    
    :visited {
      color: white;
     }
}
